/* VARIABLES */
/* FUNCTIONS */
html {
  height: 100%;
}
.wrapper {
  position: relative;
}
body {
  zoom: 1;
  padding: 18px 0;
  position: relative;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #464650;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:focus {
  outline: none;
}
p {
  margin: 0;
}
/* =============================================================================
Global elements
========================================================================== */
.tar {
  text-align: right;
  margin: 0 0 12px 0;
}
.none {
  display: none !important;
}
.dtable {
  display: table;
}
.dtcell {
  display: table-cell;
  vertical-align: middle;
}
.invisible {
  visibility: hidden;
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
}
.hidden {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.min-width {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  width: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
/* ===========================================================================
ICONS
========================================================================== */
.message-icon {
  cursor: pointer;
  background-image: url("../images/sprite.png");
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  background-position: -240px 0;
  margin: 0 0 0 0;
}
.address-tel {
  display: inline-block;
  float: left;
  background-image: url("../images/sprite.png");
  background-position: -240px -30px;
  height: 50px;
  width: 30px;
  margin: 0 17px 0 17px;
}
.icon {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
}
.icon.mitsubishi {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 20px;
}
.icon.mitsubishi:before,
.icon.mitsubishi:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.mitsubishi:before,
.no-opacity .icon.mitsubishi:after {
  display: block;
}
.icon.mitsubishi:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.mitsubishi:after {
  display: none;
}
.icon.mitsubishi:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.mitsubishi:hover:before {
  display: none;
}
.icon.mitsubishi:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.mitsubishi:hover:after {
  display: block;
}
.icon.mitsubishi:before,
.icon.mitsubishi:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: -80px -70px;
}
.icon.mitsubishi:after {
  background-position: -80px -90px;
}
.icon.singular {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 30px;
}
.icon.singular:before,
.icon.singular:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.singular:before,
.no-opacity .icon.singular:after {
  display: block;
}
.icon.singular:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.singular:after {
  display: none;
}
.icon.singular:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.singular:hover:before {
  display: none;
}
.icon.singular:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.singular:hover:after {
  display: block;
}
.icon.singular:before,
.icon.singular:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: 0px -40px;
}
.icon.singular:after {
  background-position: 0px -69px;
}
.icon.winstar {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 30px;
}
.icon.winstar:before,
.icon.winstar:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.winstar:before,
.no-opacity .icon.winstar:after {
  display: block;
}
.icon.winstar:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.winstar:after {
  display: none;
}
.icon.winstar:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.winstar:hover:before {
  display: none;
}
.icon.winstar:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.winstar:hover:after {
  display: block;
}
.icon.winstar:before,
.icon.winstar:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: -160px -40px;
}
.icon.winstar:after {
  background-position: -160px -70px;
}
.icon.creamtec {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 20px;
}
.icon.creamtec:before,
.icon.creamtec:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.creamtec:before,
.no-opacity .icon.creamtec:after {
  display: block;
}
.icon.creamtec:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.creamtec:after {
  display: none;
}
.icon.creamtec:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.creamtec:hover:before {
  display: none;
}
.icon.creamtec:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.creamtec:hover:after {
  display: block;
}
.icon.creamtec:before,
.icon.creamtec:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: -160px 0px;
}
.icon.creamtec:after {
  background-position: -160px -20px;
}
.icon.yida {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 30px;
}
.icon.yida:before,
.icon.yida:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.yida:before,
.no-opacity .icon.yida:after {
  display: block;
}
.icon.yida:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.yida:after {
  display: none;
}
.icon.yida:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.yida:hover:before {
  display: none;
}
.icon.yida:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.yida:hover:after {
  display: block;
}
.icon.yida:before,
.icon.yida:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: -80px 0px;
}
.icon.yida:after {
  background-position: -80px -30px;
}
.icon.eroglu {
  background-image: none !important;
  position: relative;
  width: 80px;
  height: 20px;
}
.icon.eroglu:before,
.icon.eroglu:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .icon.eroglu:before,
.no-opacity .icon.eroglu:after {
  display: block;
}
.icon.eroglu:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.eroglu:after {
  display: none;
}
.icon.eroglu:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .icon.eroglu:hover:before {
  display: none;
}
.icon.eroglu:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .icon.eroglu:hover:after {
  display: block;
}
.icon.eroglu:before,
.icon.eroglu:after {
  background: url("../images/sprite.png") no-repeat;
  background-position: 0 0;
}
.icon.eroglu:after {
  background-position: 0 -20px;
}
.content-icon {
  width: 60px;
  height: 60px;
  background-image: none !important;
  position: relative;
  transition: 0;
  display: block;
}
.content-icon:before,
.content-icon:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  transition: all 300ms ease;
}
.no-opacity .content-icon:before,
.no-opacity .content-icon:after {
  display: block;
}
.content-icon:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .content-icon:after {
  display: none;
}
.content-icon:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.no-opacity .content-icon:hover:before {
  display: none;
}
.content-icon:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.no-opacity .content-icon:hover:after {
  display: block;
}
.content-icon.aims {
  position: absolute;
  top: 15px;
}
.content-icon.aims:before,
.content-icon.aims:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: 0 0;
}
.content-icon.values {
  position: absolute;
  bottom: 18px;
}
.content-icon.values:before,
.content-icon.values:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: -60px 0;
}
.content-icon.command {
  float: left;
  margin: 18px 7px 0 0;
}
.content-icon.command:before,
.content-icon.command:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: -120px 0;
}
.content-icon.cup {
  float: left;
  margin: -18px 7px 0 0;
}
.content-icon.cup:before,
.content-icon.cup:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: -180px -60px;
}
.content-icon.rocket {
  float: left;
  margin: -25px 7px 0 0;
}
.content-icon.rocket:before,
.content-icon.rocket:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: -120px -60px;
}
.content-icon.hands {
  float: left;
  margin: -5px 7px 0 0;
}
.content-icon.hands:before,
.content-icon.hands:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: -60px -60px;
}
.content-icon.pen {
  float: left;
  margin: 5px 7px 0 0;
}
.content-icon.pen:before,
.content-icon.pen:after {
  background: url("../images/content-icons-sprite.png") no-repeat;
  background-position: 0 -60px;
}
.icon-container {
  position: relative;
  zoom: 1;
  float: left;
  height: 303px;
  width: 60px;
  margin: -10px 7px 0 0;
}
.icon-container:before,
.icon-container:after {
  content: "";
  display: table;
}
.icon-container:after {
  clear: both;
}
/* =============================================================================
PAGE
========================================================================== */
.header {
  height: 70px;
  width: 100%;
  font-size: 0;
  background-color: #fff;
  margin: 0 0 0 0;
  zoom: 1;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header h3 {
  display: inline-block;
  float: left;
  color: #000;
  font-size: 17px;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-weight: 600;
  word-spacing: 9px;
  margin: 22px 0 0 33px;
}
.main-logo {
  width: 173px;
  height: 48px;
  float: left;
  margin: 8px 0 0 11px;
}
.lang-panel {
  height: 53px;
  position: relative;
  float: right;
  margin: 0 12px 0 0;
}
.lang-panel:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.site-lang-list {
  display: inline-block;
  vertical-align: middle;
}
.site-lang-list:first-child {
  margin: 0;
}
.lang-item {
  cursor: pointer;
  margin: 0 0 0 5px;
  float: left;
  font-size: 10px;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-weight: 500px;
  color: #000;
}
.lang-item a {
  color: #000;
  text-decoration: underline;
}
.lang-item span {
  color: #000;
}
.navigation-site-holder {
  text-align: center;
  font-size: 0;
}
.navigation-site {
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  display: inline-block;
  zoom: 1;
}
.navigation-site:before,
.navigation-site:after {
  content: "";
  display: table;
}
.navigation-site:after {
  clear: both;
}
.navigation-site li {
  float: left;
  margin: 0 0 0 3px;
}
.navigation-site li:first-child {
  margin-left: 0;
}
.navigation-site .active {
  background: #dca05a;
  color: #000;
  display: inline-block;
  width: 115px;
  height: 21px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 21px;
  transition: 0.3s;
}
.navigation-site .active:hover {
  background: #dca05a;
  transition: 0.3s;
}
.navigation-site a {
  color: #000;
  display: inline-block;
  width: 115px;
  height: 21px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 21px;
  background: #b3b3b3;
  transition: 0.3s;
}
.navigation-site a:hover {
  background: #808080;
  transition: 0.3s;
}
.navigation-site.top {
  margin: 16px 0 0 0;
}
.navigation-site.top span {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.navigation-site.top span:hover {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.navigation-site.top a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.navigation-site.top a:hover {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.navigation-site.bottom span {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-site.bottom span:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-site.bottom a {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-site.bottom a:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.image-holder {
  width: 870px;
  height: 237px;
  overflow: hidden;
}
.image-holder font-size 0 img {
  width: 100%;
  height: auto;
}
/* =============================================================================
TOOL PAGE
================================================================================ */
.partners-blocks {
  background: #ccc;
  padding: 18px 0 0 0;
  margin: -20px -18px 0 -18px;
}
.partners-blocks li {
  background: #f1f1f1;
  width: 100%;
  position: relative;
  margin: 0 0 18px 0;
}
.partners-logo {
  float: left;
  position: relative;
  width: 38%;
  height: 110px;
  overflow: hidden;
}
.partners-logo img {
  display: block;
  position: absolute;
  top: -500px;
  left: -500px;
  right: -500px;
  bottom: -500px;
  margin: auto;
}
.link-show-more-products,
.link-show-more {
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #000;
  margin: 0 0 12px 0;
}
.article {
  line-height: 17px;
}
.article.hide {
  display: block;
  display: -webkit-box;
  max-height: 51px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 51px;
}
.article.show {
  height: auto;
}
.article ul {
  padding: 0 0 0 17px;
}
.article ul li {
  list-style: disc;
  background: #e4e4e4;
  font-size: 12px;
  font-weight: 400;
  margin: 18px 0 0 0;
}
.partners-content {
  padding: 15px 10px 0 17px;
  background: #e4e4e4;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.partners-content p {
  text-indent: 20px;
}
.partners-bottom {
  height: 30px;
  background: #fff;
}
.partners-bottom a {
  font-size: 10px;
  font-weight: 600;
  color: #2e58a6;
  margin: 0 0 0 17px;
}
.partners-bottom .catalog-button {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  font-style: italic;
  width: 149px;
  height: 30px;
  background: #dc9f5a;
  float: right;
  text-align: center;
  line-height: 30px;
  transition: 0.3s;
  border-top-left-radius: 3px;
}
.partners-bottom .catalog-button:hover {
  border-top-left-radius: 3px;
  transition: 0.3s;
  color: #604b3b;
}
/* =============================================================================
PRODUCTS PAGE
================================================================================ */
.products-image-list {
  position: relative;
  height: 445px;
  width: 490px;
  margin: 10px auto 20px auto;
}
.products-text {
  text-indent: 20px;
}
.products-image {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 188px;
}
.products-image.tool-item {
  top: 0;
  left: 53px;
}
.products-image.snap-in-item {
  top: 0;
  left: 250px;
}
.products-image.production-item {
  top: 223px;
  left: 53px;
}
.products-image.equipment-item {
  top: 223px;
  left: 250px;
}
.item-label {
  width: 133px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  display: block;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  margin: 6px auto 6px auto;
  color: #4d4d4d;
}
/* =============================================================================
LEFT SIDE
========================================================================== */
.left-side {
  postion: relative;
  width: 142px;
  height: 100%;
  float: left;
  background-color: #ccc;
  text-align: center;
}
.navigation-page {
  display: inline-block;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: left;
  margin: 23px 0 0 0;
  zoom: 1;
}
.navigation-page:before,
.navigation-page:after {
  content: "";
  display: table;
}
.navigation-page:after {
  clear: both;
}
.navigation-page a {
  line-height: 22px;
  color: #4d4d4d;
}
.navigation-page span {
  line-height: 22px;
  color: #000;
}
/* =============================================================================
CENTRAL CONTENT
========================================================================== */
.central {
  zoom: 1;
  min-height: 670px;
  background-color: #ccc;
}
.central:before,
.central:after {
  content: "";
  display: table;
}
.central:after {
  clear: both;
}
.content {
  font-size: 100%;
  width: 586px;
  min-height: 670px;
  float: left;
  background-color: #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 18px 22px 18px;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  text-align: justify;
}
.content p {
  font-weight: 400;
  font-size: 12px;
}
.content h4 {
  margin: 20px 0 20px 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.content h4:first-child {
  margin: 0 0 20px 0;
}
.content h5 {
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: 600;
}
.red-text {
  color: #e4000b;
  font-weight: 600;
}
.history-image {
  width: 491px;
  height: 20px;
  margin: 35px auto 35px auto;
}
.list {
  overflow: hidden;
}
.list li {
  font-weight: 400;
  font-size: 12px;
  list-style: disc inside;
}
.container {
  overflow: hidden;
}
/* =============================================================================
RIGHT SIDE
========================================================================== */
.right-side {
  postion: relative;
  width: 138px;
  min-height: 670px;
  float: left;
  background-color: #ccc;
}
.partners {
  margin: 24px 0 0 0;
  text-align: center;
}
.partners li {
  display: inline-block;
  margin: 12px 0 0 0;
}
.partners li:first-child {
  margin: 0;
}
/* =============================================================================
FOOTER
========================================================================== */
.footer {
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-size: 8px;
  color: #000;
  height: 49px;
  width: 100%;
  background-color: #fff;
  margin: 0 0 14px 0;
  zoom: 1;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
}
.footer:after {
  clear: both;
}
.footer p {
  float: left;
  margin: 12px 0 0 0;
  line-height: 14px;
  font-size: 12px;
}
.footer h3 {
  display: block;
  float: left;
  color: #000;
  font-size: 19px;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-weight: 400;
  margin: 17px 0 0 64px;
}
.message-form .input-holder.is-error .error-text {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.message-form .input-holder.is-error textarea,
.message-form .input-holder.is-error input {
  border-color: #f00;
}
.message-form .input-holder .error-text {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  font-size: 12px;
  color: #f00;
  transition: opacity 0.3s ease;
}
.message-form .input-holder .error-text,
.message-form .input-holder textarea,
.message-form .input-holder input {
  display: inline-block;
  vertical-align: middle;
}
.message-form .input-holder textarea,
.message-form .input-holder input {
  width: 200px;
  resize: none;
  border: 1px solid transparent;
}
