AddDefaultCharset utf-8
<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule ^/$ / [L]

  RewriteCond %{REQUEST_URI} !/$
  RewriteCond %{REQUEST_URI} !\.(jpg|png|gif|css|js|php|xml)$
  RewriteRule ^(.*)$ index.php?page=$1
</IfModule>