<h4>ПРОМЫШЛЕННОЕ ПРОИЗВОДСТВО - ОТ ИДЕИ К РЕАЛЬНОСТИ </h4>
<ul >
    <li>
        <p>
            Частное предприятие <span class="red-text">ИНТЕР ИНСТРУМЕНТ</span> (Днепропетровск, Украина) – это быстро растущее динамично развивающееся
            предприятие, деятельность которого неразрывно связана с увеличением промышленного потенциала
            производственно-ориентированных предприятий не только Украины, но и предприятий ближнего и дальнего зарубежья.
        </p>
        <br>
        <i class="content-icon cup"></i>
        <div class="container">
            <p>На сегодняшний дней наша компания зарекомендовала себя в качестве надежного и добросовестного партнера, осуществляющего: </p>
            <ul class="list">
                <li>инжиниринговые решения;</li>
                <li>производство высокотехнологичных узлов, механизмов и инструментальной оснастки;</li>
                <li>комплексные поставки инструмента, оснастки и оборудования для металлообработки ведущих европейских и азиатских производителей
                    практически во всех отраслях промышленного производства. </li>
            </ul>
            <br>
                <p>
                    Основными <span class="red-text">ПРИНЦИПАМИ</span> работы нашей компании являются высокий профессионализм, точность, эффективность
                    и ответственность перед каждым клиентом. В нашей компании каждый из этих принципов осуществляется как в работе каждого отдельного
                    сотрудника, так и в деятельности всего предприятия.
                </p>
        </div>
    </li>
    <li>
        <i class="content-icon rocket"></i>
            <h4>Ключевыми элементами <span class="red-text">СТРАТЕГИИ</span> нашей компании являются:</h4>
            <h5>Ориентированность на потребности клиента и оперативность.</h5>
            <p>Мы активно следим за потребностями наших клиентов и гибко реагируем на их запросы. Грамотный, профессиональный, индивидуальный подход
                к каждому клиенту в процессе реализации проектов различной степени сложности, а также высокий профессионализм и слаженность действий
                всех сотрудников позволяют выполнять любые задачи в сжатые сроки и предоставлять все преимущества ответственной и современной компании.</p>
            <br>
            <h5>Неизменно высокое качество продукции. </h5>
            <p>Сотрудничество с известными мировыми компаниями-производителями, имеющими сертифицированную систему контроля качества на всех этапах
                производства, позволяет нам гарантированно предлагать высококачественную и высокотехнологичную продукцию нашим клиентам. </p>
            <h5>Широчайший выбор продукции. </h5>
            <p>Наша компания является официальным (эксклюзивным) представителем на территории Украины ряда компаний – производителей оборудования,
                металлорежущего инструмента и оснастки. Более 1000 (тысячи) наименований находятся в наличии на складе в г. Днепропетровск (Украина),
                кроме того статус компании – представителя (дистрибьютора) дает возможность обеспечивать поставки продукции в максимально сжатые сроки.</p>
            <h5>Профессиональный сервис.</h5>
            <p>Специалисты по продажам, высококвалифицированные инженерно-технические специалисты и наличие собственной современной производственной базы
                позволяют обеспечивать оперативную инженерную и коммерческую поддержку в любой точке Украины. </p>
    </li>
    <li>
        <i class="content-icon hands"></i>
        <h4><span class="red-text">ПРЕИМУЩЕСТВАМИ</span> нашей компании являются:</h4>
        <ul class="list">
            <li>Многолетний успешный опыт работы в производственной области;</li>
            <li>Индивидуальный подход к каждому клиенту и построение дальнейшего партнерства на принципах понимания и доверия;</li>
            <li>Высококвалифицированный и компетентный персонал, который составляет лицо компании и соответствует наивысшим профессиональным
                требованиям;</li>
            <li>Сотрудничество с общепризнанными компаниями-производителями с мировым именем;</li>
            <li>Наличие собственного современного производства;</li>
            <li>Инновационные инжиниринговые подходы, гарантирующие итоговые результаты высокого уровня. </li>
        </ul>

        <p>На сегодняшний день предлагаемые нами продукты и инновационные технологические решения находят применение в различных отраслях
            промышленности, таких как автомобилестроение, авиакосмическая промышленность, сельскохозяйственная промышленность, черная и цветная
            металлургия, машиностроение и металлообработка, медицина…</p>
    </li>
    <li>
        <i class="content-icon pen"></i>
        <h4><span class="red-text">ДЕВИЗ</span> нашей компании – неизменно высокое качество,  надежные гарантии и стабильность результатов. </h4>
    </li>
</ul>