<h4>ЧАСТНОЕ ПРЕДПРИЯТИЕ «ИНТЕР ИНСТРУМЕНТ» ИСТОРИЯ</h4>

<p>Частное предприятие ИНТЕР ИНСТРУМЕНТ (Днепропетровск,Украина) - это современное торгово-производственное предприятие,
    основная деятельность которого связана с комплексным удовлетворением потребностей клиентов производственного сектора.
    Мы предлагаем не только оборудование, инстру¬мент и вспомогательную оснастку, но и оказываем услуги по разработке и реализации
    индивидуальных технологических решений, используя передовые технологии. <br> <br>

    Неоспоримым преимуществом нашей компании является собственное производство, укомплектованное широкой линейкой современного оборудования,
    что позволяет максимально оперативно решать ком¬плексные технологические задачи, а также выпускать сложные высокотехнологичные продукты.
</p>
<div class="history-image">
    <img src="images/history-years.png" alt="history-years">
</div>
<p>2008 год - это год основания компании, объединившей людей, имеющих большой опыт работы на пред¬приятиях машиностроительного
    комплекса, перед которыми стояли задачи организации комплексного обеспечения производственных предприятий металлорежущим
    инструментом и вспомогательной оснасткой.</p>