<!--<div class="under-contraction">
        <img src="images/in_developing.png" alt="Page in developing">
</div>
-->
<ul class="vacancies-list">
    <li class="vacancies-list-item">
        <h3>Оператор токарных станков с ЧПУ</h3>
        <ul class="requirements-list">
            <li class="requirements-list-item">
                <div class="title">График работы:</div> <div class="description">полная занятость</div>
            </li>
            <li class="requirements-list-item">
                <div class="title">Образование:</div> <div class="description">высшее</div>
            </li>
            <li class="requirements-list-item">
                <div class="title">Опыт:</div> <div class="description">больше 2-х лет</div>
            </li>
        </ul>
    </li>
    <li class="vacancies-list-item">
        <h3>Оператор фрезерных станков с ЧПУ</h3>
        <ul class="requirements-list">
            <li class="requirements-list-item">
                <div class="title">График работы:</div> <div class="description">полная занятость</div>
            </li>
            <li class="requirements-list-item">
                <div class="title">Образование:</div> <div class="description">высшее</div>
            </li>
            <li class="requirements-list-item">
                <div class="title">Опыт:</div> <div class="description">больше 2-х лет</div>
            </li>
        </ul>
    </li>
</ul>
<div class="hr-contacts">
    <h3>Контактная информация</h3>
    <ul class="requirements-list">
        <li class="requirements-list-item">
            <div class="title">Контактное лицо:</div> <div class="description">Вячеслав</div>
        </li>
        <li class="requirements-list-item">
            <div class="title">Телефон:</div>
            <div class="description">+38(050)342-27-52</div>
        </li>
        <li class="requirements-list-item">
            <div class="title">E-mail:</div>
            <div class="description"> <a href="/email_us">Написать нам</a></div>
        </li>
    </ul>
</div>