<p>Токарное
    <br>Фрезерное
    <br>Ленточнопильное
    <br><br>
    Более 70 лет «KOVOSVIT MAS» проектирует и производит станки: вертикально и горизонтально обрабатывающие фрезерные центра, пятиосевые обрабатывающие фрезерные центра, многофункциональные станки, вертикально обрабатывающие центра портальной конструкции, токарные станки с ЧПУ, универсальные токарные станки, многофункциональные токарно-фрезерные обрабатывающие центра. Ассортимент продукции ориентируется, прежде всего, на автомобильную, авиационную и машиностроительную промышленность. Компания предлагает своим клиентам индивидуальные технологические решения, изделия высшего качества и соответствующий сервис.
    <br><br>
    SINGULAR MACHINERY Co., LTD- cпециализированный производитель ленточнопильных станков.  Компания объединяет талантливых профессионалов высочайшего уровня во всех сферах от управления и продаж, до разработчиков и производственников всех видов промышленных пильных станков. Мы полностью подготовлены к тому, чтобы предоставить нашим клиентам гидравлические пильные станки известные за их качество, жёсткость и эффективность.
    <br><br>

    YIDA Precision Machinery Co. Ltd. образована в 2004 году в Тайване. YIDA специализирована на выпуске высокотехнологичных токарных станков с ЧПУ, горизонтальных обрабатывающих центрах, вертикальных обрабатывающих центрах.
    Используя крупные технологические достижения YIDA предоставляет всем клиентам конкурентоспособную продукцию.
    <br><br>
</p>