<div class="location-map">
        <p align="center">КАРТА ПРОЕЗДА</p>
        <div class="google-map">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.804626469064!2d34.99379709999999!3d48.47946099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe24bde34de17%3A0x9862a439233e859b!2z0LLRg9C7LiDQo9C00LDRgNC90LjQutGW0LIsINCU0L3RltC_0YDQvtC_0LXRgtGA0L7QstGB0YzQuiwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1439919730819" width="500" height="317" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p >ДОБРО ПОЖАЛОВАТЬ!<br>
                Сотрудники компании Интер Инструмент <br> всегда рады с вами сотрудничать!</p>
</div>