<ul class="partners-blocks">
    <li>
        <div class="partners-logo"><img src="images/Partners/Palmary.png" alt="Logo Palmary"></div>
        <div class="partners-content">
            <div class="article hide">
                <p>
                    <b>Palmary Machinery Co., Ltd.</b>  – шлифовальные станки.
                </p>
            </div>
            <div class="tar"><a href="#" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a class="catalog-button" href="http://www.grinding.com.tw/index.php?lang=en" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf_icon"></a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/Yida.png" alt="Logo Yida"></div>
        <div class="partners-content">
            <div class="article hide">
                <p><b>Yida</b> - производитель станков токарной и фрезерной группы</p>
            </div>
            <div class="tar"><a href="#" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a class="catalog-button" href="http://www.yidacnc.com/" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf icon"></a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/Singular.png" alt="Logo Singular"></div>
        <div class="partners-content">
            <div class="article hide">
                <p>
                    <b>SINGULAR MACHINERY</b> – ленточнопильное оборудование
                </p>
            </div>

            <div class="tar"><a href="#" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a class="catalog-button" href="http://www.singular-co.com/" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf icon"></a>
        </div>
    </li>
</ul>