<div class="article hide">
    <p class="products-text">
        C появлением высокотехнологичного, высокопроизводительного и современного металлорежущего оборудования,
        машиностроительная отрасль в целом и металлообработка в частности претерпели ряд значительных изменений. В связи с
        этим возникла необходимость
        в появлении более качественной оснастки и инструментов, произведенных на основе современных материалов. Благодаря
        использованию твердых сплавов,
        тепло- и износостойкого покрытия инструмент для обработки металлов приобретает более сложные формы, которые
        невозможно создать традиционными
        способами заточки.
    </p>

    <p class="products-text">
        Специалисты нашей компании отслеживают последние тенденции на рынке и обеспечивают поставку самого современного
        оборудования и режущего
        инструмента, помогая вывести производство изделий из металла на новый технологический уровень.
    </p>

    <p class="products-text">
        Мы поставляем качественный металлорежущий инструмент, оснастку и вспомогательные приспособления известных
        производителей стран Азии и Европы.
        В наших каталогах представлена вся необходимая информация для эффективной организации производства.
    </p>

    <p class="products-text">В данном разделе вы легко найдете подходящий по всем характеристикам необходимый Вам
        товара.
    </p>
</div>
<div class="tar"><a href="" class="link-show-more-products">Подробнее...</a></div>
<div class="products-image-list">
    <div class="products-image tool-item">
        <a class="item-label" href="/index.php?page=tool">Инструмент </a>
        <a href="/index.php?page=tool"><img src="images/products/tool.png" alt=""></a>
    </div>
    <div class="products-image snap-in-item">
        <a class="item-label" href="/index.php?page=snap-in">Оснастка</a>
        <a href="/index.php?page=snap-in"><img src="images/products/snap-in.png" alt=""></a>
    </div>
    <div class="products-image production-item">
        <a href="/index.php?page=production"><img src="images/products/production.png" alt=""></a>
        <a class="item-label" href="/index.php?page=production">Производство</a>
    </div>
    <div class="products-image equipment-item">
        <a href="/index.php?page=equipment"><img src="images/products/equipment.png" alt=""></a>
        <a class="item-label" href="/index.php?page=equipment">Оборудование</a>
    </div>

</div>
<p class="products-text">
    Если у вас возникли сложности и требуется дополнительная консультация, то наши специалисты с радостью помогут вам подобрать
    и внедрить режущий инструмент. Обратившись к нам, Вы получите консультацию по вопросам оптимизации имеющихся и создания новых технологических
    процессов за счет использования последних достижений передовых мировых производителей.
</p>