<ul class="partners-blocks">
        <li>
                <div class="partners-logo"><img src="" alt=""></div>
                <div class="partners-content">
                        <div class="article hide">
                                <p>
                                    <b>EROGLU Präzisionswerkzeuge GmbH</b>  – немецкий производитель высокоточного вспомогательного инструмента для станков фрезерной,
                                    сверлильно-расточной и токарной групп.
                                </p>
                                <p>
                                    Для оснащения металлорежущего оборудования различных производителей компания EROGLU производит вспомогательный инструмент соответствующий всем
                                основным стандартам: DIN 2080 (ГОСТ 25827-93 исп.1), DIN 69871 (ГОСТ 25827-93 исп.2), JIS D 6339 (MAS 403 BT), DIN 69893 (HSK), DIN 69880 (VDI 3425)
                                (ГОСТ 24900-81), ISO 26623-1, ISO 12164-1 (ГОСТ Р 51547-2000).
                                </p>
                                <p>
                                        Достоинства продукции EROGLU: высокие эксплуатационные характеристики, оптимальное сочетание «цена-качество» и широкая номенклатура выпускаемых
                                        изделий.
                                </p>
                        </div>
                        <div class="tar"><a href="" class="link-show-more">Подробнее...</a></div>
                </div>
                <div class="partners-bottom">
                        <a class="catalog-button" href="http://www.eroglumakina.com/urunler.php" target="_blank">Скачать каталог PDF</a>
                </div>
        </li>
        <li>
                <div class="partners-logo"><img src="" alt=""></div>
                <div class="partners-content">
                        <div class="article hide">
                            <p><b>ROHM GmbH</b> - в настоящее время головное предприятие находится в г.Зонтхайм на р.Бренц, дополнительные в г.Диллинген и Санкт-Георгене.</p>
                            <p>
                                В основную продукцию ROHM входят: сверлильные патроны, резьбонарезные патроны, вращающиеся центра, торцевые захваты (поводковые патроны),
                                станочные тиски различных модификаций, ручные и механизированные зажимные токарные патроны, поворотные (индексные) гидравлические патроны,
                                зажимные кулачки, гидравлические цилиндры, токарные самоцентрирующие люнеты, зажимные оправки, грейпферы (захваты).
                            </p>
                            <p>
                                Сильной стороной компании ROHM GmbH является возможность разработки и специального изготовления зажимной техники по индивидуальным требованиям заказчика.
                            </p>

                        </div>
                        <div class="tar"><a href="" class="link-show-more">Подробнее...</a></div>
                </div>
                <div class="partners-bottom">
                        <a class="catalog-button" href="http://www.roehm.biz/en/produkte/" target="_blank">Скачать каталог PDF</a>
                </div>
        </li>
        <li>
                <div class="partners-logo"><img src="" alt=""></div>
                <div class="partners-content">
                        <div class="article hide">
                            <p>
                                <b>Acrow machinery Mfg.</b> был основана в 1985 году на Тайване, в городе Тайчунг. Сейчас, компания завоевала лидирующие позиции на рынке оснастки для станков с
                                ЧПУ в Тайване.
                            </p>
                            <p>
                                Постоянно совершенствуя свое производство, Acrow поставляет оснастку, расточные системы и запасные части, произведенные в соответствии с ISO-9001.
                            </p>
                            <p>
                                Продукция корпорации завоевала рынки Тайваня, Китая, Европы, Германии, Швейцарии, Японии, США, Автралии, Южной Азии и России.
                            </p>

                        </div>
                        <div class="tar"><a href="#" class="link-show-more">Подробнее...</a></div>


                </div>
                <div class="partners-bottom">
                        <a class="catalog-button" href="http://www.acrow-tools.com.tw/en/products.php" target="_blank">Скачать каталог PDF</a>
                </div>
        </li>
</ul>