<ul class="partners-blocks">
    <li>
        <div class="partners-logo"><img src="images/Partners/Mitsubishi.png" alt="Logo Mitsubishi"></div>
        <div class="partners-content">
            <div class="article hide">
                <p><b>MITSUBISHI CARBIDE</b> – японский производитель обширного спектра твердосплавного металлорежущего инструмента, а именно: </p>
                <ul>
                    <li>пластины для точения</li>
                    <li>поворотные режущие пластинки с КНБ и ПКА для токарной обработки</li>
                    <li>токарный инструмент для наружного точения</li>
                    <li>малоразмерный инструмент</li>
                    <li>расточной инструмент</li>
                    <li>отрезной и канавочный инструмент</li>
                    <li>резьбонарезной инструмент</li>
                    <li>инструмент HSK-T</li>
                    <li>монолитные концевые фрезы</li>
                    <li>пластины для фрезерования</li>
                    <li>вращающийся инструмент</li>
                    <li>сверлильные инструменты </li>
                    <li>запасные части</li>
                </ul>
            </div>
            <div class="tar"><a href="" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a class="catalog-button" href="http://www.mitsubishicarbide.com/EU/ru/product/catalog/catalog.html" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf icon"> </a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/CeramTec.png" alt="Logo CeramTec"></div>
        <div class="partners-content">
            <div class="article hide">
                <p><b>CERAMTEC</b> - поставщик компонентов из высококачественной керамики, которая нашла применение в автомобилестроении, электронике и электротехнике, строительстве и
                    промышленном секторе. Имея полный доступ ко всем изделиям из технической керамики, соответствующим высочайшим международным стандартам качества, установленным
                    производственными предприятиями и подразделениями группы CeramTec, компания удовлетворяет спрос на компоненты из технической керамики на мировом рынке. </p>
            </div>
            <div class="tar"><a href="" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a class="catalog-button" href="http://www.ceramtec.com.ua/products/" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf icon"></a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/Winstar.png" alt="Logo Winstar"></div>
        <div class="partners-content">
            <div class="article hide">
                <p><b>WINSTAR CUTTING TECHNOLOGIES CORP</b> - Тайваньский производитель режущего инструмента, такого как:
                <ul>
                    <li>монолитные концевые фрезы</li>
                    <li>сверлильный инструмент</li>
                </ul>
            </div>
                <div class="tar"><a href="#" class="link-show-more">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
                <a class="catalog-button" href="http://www.winstarcutting.com/?page_id=2124" target="_blank"><span>Скачать каталог</span> <img src="images/pdf_icon.png" alt="pdf icon"> PDF</a>
        </div>
    </li>
</ul>