<ul class="partners-blocks">
    <li>
        <div class="partners-logo"><img src="images/Partners/Mitsubishi.png" alt=""></div>
        <div class="partners-content">
            <p><b>MITSUBISHI CARBIDE</b> – японский производитель обширного спектра твердосплавного металлорежущего инструмента, а именно: </p>
            <div class="tar"><a href="http://www.mitsubishicarbide.com/EU/ru/product/catalog/catalog.html">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a href="http://www.mitsubishicarbide.com/EU/ru/product/catalog/catalog.html">http://www.mitsubishicarbide.com/EU/ru/product/catalog/catalog.html</a>
            <a class="catalog-button" href="">Скачать каталог PDF</a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/CeramTec.png" alt=""></div>
        <div class="partners-content">
            <p><b>CERAMTEC</b> - поставщик компонентов из высококачественной керамики, которая нашла применение в автомобилестроении, электронике и электротехнике. </p>
            <div class="tar"><a href="http://www.ceramtec.com.ua/products/">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
            <a href="http://www.ceramtec.com.ua/products/">http://www.ceramtec.com.ua/products/ </a>
            <a class="catalog-button" href="">Скачать каталог PDF</a>
        </div>
    </li>
    <li>
        <div class="partners-logo"><img src="images/Partners/Winstar.png" alt=""></div>
        <div class="partners-content">
            <p><b>WINSTAR CUTTING TECHNOLOGIES CORP</b> - Тайваньский производитель режущего инструмента, такого как: </p>
            <div class="tar"><a href="http://www.winstarcutting.com/?page_id=2124">Подробнее...</a></div>
        </div>
        <div class="partners-bottom">
                <a href="http://www.winstarcutting.com/?page_id=2124">http://www.winstarcutting.com/?page_id=2124</a>
                <a class="catalog-button" href="">Скачать каталог PDF</a>
        </div>
    </li>
</ul>